<p id="notice"><%= notice %></p>

<p>
  <strong>Alias:</strong>
  <%= @url.alias %>
</p>

<p>
  <strong>Http:</strong>
  <%= @url.http %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @url.UUID %>
</p>

<p>
  <strong>User:</strong>
  <%= @url.user_id %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
